# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
SpringJDBC/
Study_archive/
var/
.venv/
venv/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.csv
*.db

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Node
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*